# ESP32 Boot and OTA
    CONFIG_SECURE_SIGNED_ON_UPDATE=y
    CONFIG_SECURE_SIGNED_APPS=y
    CONFIG_SECURE_SIGNED_APPS_NO_SECURE_BOOT=y
    CONFIG_SECURE_SIGNED_APPS_ECDSA_SCHEME=y
    CONFIG_SECURE_SIGNED_ON_UPDATE_NO_SECURE_BOOT=y
    CONFIG_SECURE_BOOT_BUILD_SIGNED_BINARIES=y
    CONFIG_SECURE_BOOT_SIGNING_KEY="~/keystore/sneakernet.pem"

# Configure FATFS
    CONFIG_FATFS_VOLUME_COUNT=1
    CONFIG_FATFS_FAT16=y
    # support long filenames
    CONFIG_FATFS_LFN_HEAP=y
    CONFIG_FATFS_MAX_LFN=255
    CONFIG_FATFS_API_ENCODING_UTF_8=y

# Configure WiFi
    CONFIG_LWIP_MAX_SOCKETS=16
#    CONFIG_ESP_WIFI_ESPNOW_MAX_ENCRYPT_NUM=10

# Configure WebApi
    # Required for connection redirect
    CONFIG_HTTPD_MAX_REQ_HDR_LEN=1024
    # enable HTTPS
    CONFIG_ESP_HTTPS_SERVER_ENABLE=y

# ESP32 Boot and OTA
    # currently requires 4MB chips
    CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
    CONFIG_ESPTOOLPY_FLASHSIZE="4MB"
    CONFIG_PARTITION_TABLE_CUSTOM=y
    CONFIG_PARTITION_TABLE_OFFSET=0x9000
    CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE=y


# compiler optimizations
    CONFIG_BOOTLOADER_COMPILER_OPTIMIZATION_SIZE=y

# Disable unused things to shrink binary
    CONFIG_ESP_WIFI_ENABLE_WPA3_SAE=n
    CONFIG_ESP_WIFI_ENTERPRISE_SUPPORT=n
    CONFIG_ESP_WIFI_ESPNOW_MAX_ENCRYPT_NUM=0
    CONFIG_ADC_CAL_EFUSE_TP_ENABLE=n
    CONFIG_ADC_CAL_EFUSE_VREF_ENABLE=n
    CONFIG_ADC_CAL_LUT_ENABLE=n
    CONFIG_LWIP_IPV6=n
    CONFIG_NEWLIB_NANO_FORMAT=y
    CONFIG_ESP_WIFI_MBEDTLS_TLS_CLIENT=n
    CONFIG_WPA_MBEDTLS_TLS_CLIENT=n