# configuration per v5.3.1

# FIXME
CONFIG_SNEAKERNET_LOG_DEFAULT_LEVEL_DEBUG=y

# optimize transfer rates
CONFIG_ESP32_DEFAULT_CPU_FREQ_240=y
CONFIG_ESP32_DEFAULT_CPU_FREQ_MHZ=240
CONFIG_LWIP_TCPIP_TASK_PRIO=1
CONFIG_LWIP_TCPIP_CORE_LOCKING=y

# on-target partitions
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_MD5=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"

# App Signing
CONFIG_SECURE_SIGNED_ON_BOOT=y
CONFIG_SECURE_SIGNED_ON_UPDATE=y
CONFIG_SECURE_SIGNED_APPS=y
CONFIG_SECURE_SIGNED_APPS_NO_SECURE_BOOT=y
CONFIG_SECURE_SIGNED_APPS_ECDSA_SCHEME=y
CONFIG_SECURE_SIGNED_ON_UPDATE_NO_SECURE_BOOT=y
CONFIG_SECURE_BOOT_BUILD_SIGNED_BINARIES=y
CONFIG_SECURE_BOOT_SIGNING_KEY="~/keystore/sneakernet_firmware.pem"

# if new firmware crashes, reuse the last
BOOTLOADER_APP_ROLLBACK_ENABLE=y

# Network Stack
# set the max sockets allowed by ESP
CONFIG_LWIP_MAX_SOCKETS=16

# Webserver
# increase allowable header size (required for mobile compatibility)
CONFIG_HTTPD_MAX_REQ_HDR_LEN=1024

# Configure FATFS for SDCard
CONFIG_FATFS_VOLUME_COUNT=1
# support long filenames
CONFIG_FATFS_LFN_HEAP=y
CONFIG_FATFS_MAX_LFN=255
CONFIG_FATFS_API_ENCODING_UTF_8=y

# size optimizations
# CONFIG_BOOTLOADER_COMPILER_OPTIMIZATION_SIZE=y
# CONFIG_COMPILER_OPTIMIZATION_SIZE=y

# Disable unused things to shrink binary
# CONFIG_ESP_HTTPS_SERVER_ENABLE=n
# CONFIG_ESP_WIFI_MBEDTLS_CRYPTO=n
# CONFIG_ESP_WIFI_ENTERPRISE_SUPPORT=n
# CONFIG_WPA_MBEDTLS_CRYPTO=n
# CONFIG_WPA_MBEDTLS_TLS_CLIENT=n