openapi: 3.0.0
info:
  title: SneakerNet
  description: REST API for SneakerNet
  version: 0.0.0

servers:
  - url: http://sneakernet.monster

# security: []
# components:
#   securitySchemes: {}

paths:
  /catalog:
    get:
      description: Returns a list of content objects
      security: []
      responses:
        '200':
          description: Successfully returned a list of artists
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                    - filename
                    - sha256
                  properties:
                    filename:
                      type: string
                    sha256:
                      type: string
                    identifiers:
                      type: array
                      items:
                        type: string
                    sneakernetSigned:
                      type: boolean
        '404':
          description: catalog not ready
        '429':
          description: Too Many Requests

  /catalog/{filename}:
    parameters:
      - name: filename
        in: path
        required: true
        schema:
          type: string
    get:
      description: receive the file
      security: []
      responses:
        '200':
          description: transferring file
          content:
             application/octet-stream: {}
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
    put:
      description: add file to catalog
      security: []
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: accepted file
        '411':
          description: length required
        '403':
          description: file not acceptable per Librarian's settings
          content:
            text/plain:
              schema:
                description: "reason for rejection"
                type: string
        '429':
          description: Too Many Requests

