/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#toolbar {
    background-color: whitesmoke;
    padding: 1vw;
    font-size: 10vw;
}

#currentPath {
    padding: 3vw;
    font-size: large;
}

#currentPath mat-form-field {
    width: 94vw;
}

div.centered {
    margin-left: 5%;
    margin-right: 5%;
}

div.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 10px;
    transition: 0.3s;
    border-radius: 5px;
    padding: 5px;
    font-size: 5vw;
    background-color: ghostwhite;
    opacity: 0.97;
}

div.card .icon {
    position: relative;
    width: 10vw;
    transform: scale(2.5);
    padding: 1vw;
    display: inline-block;
}

div.card a {
    /* remove the underline of anchors */
    text-decoration: none !important;
}

div.card .info {
    font-size: 3vw;
    display: flexbox;
    text-align: right;
}

div.card .info span {
    margin-left: 3vw;
    vertical-align: middle
}

.fab {
    position: fixed;
    --_viewport-margin: 2.5vmin;
    inset-block: auto var(--_viewport-margin);
    inset-inline: auto var(--_viewport-margin);
    z-index: var(--layer-1);
}