/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#toolbar {
    background-color: whitesmoke;
    font-size: xx-large;
    padding: 10px;
}

#currentPath {
    padding: 10px;
    font-size: x-large;
}

div.centered {
    margin-left: 5%;
    margin-right: 5%;
}

div.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    padding: 5px;
}

div.card .title {
    font-size: x-large;
    word-wrap: break-word;
}

div.card .info {
    font-size: small;
    display: flexbox;
    text-align: right;
}

div.card .info span {
    margin-left: 10px;
}

.fab {
    position: fixed;
    --_viewport-margin: 2.5vmin;
    inset-block: auto var(--_viewport-margin);
    inset-inline: auto var(--_viewport-margin);
    z-index: var(--layer-1);
}