/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#toolbar {
    background-color: whitesmoke;
    font-size: xx-large;
    padding: 10px;
}

div.centered {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}