# FIXME TEST-USE-ONLY
CONFIG_SNEAKERNET_FILES_SUPPORT=y
CONFIG_SNEAKERNET_FILES_MAX_SIZE_KB=1024

CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_SINGLE_APP_LARGE=y

# CONFIG_PARTITION_TABLE_TWO_OTA=y
# CONFIG_ESP_HTTPS_OTA_ALLOW_HTTP=y