menu "Free Library"
    choice FREE_LIBRARY_LOG_LEVEL
        bool "Default log verbosity"
        default FREE_LIBRARY_LOG_DEFAULT_LEVEL_INFO
        help
            Specify how much output to see in logs by default.
            You can set lower verbosity level at runtime using
            esp_log_level_set function.

            By default, this setting limits which log statements
            are compiled into the program. For example, selecting
            "Warning" would mean that changing log level to "Debug"
            at runtime will not be possible. To allow increasing log
            level above the default at runtime, see the next option.

        config FREE_LIBRARY_LOG_DEFAULT_LEVEL_NONE
            bool "No output"
        config FREE_LIBRARY_LOG_DEFAULT_LEVEL_ERROR
            bool "Error"
        config FREE_LIBRARY_LOG_DEFAULT_LEVEL_WARN
            bool "Warning"
        config FREE_LIBRARY_LOG_DEFAULT_LEVEL_INFO
            bool "Info"
        config FREE_LIBRARY_LOG_DEFAULT_LEVEL_DEBUG
            bool "Debug"
        config FREE_LIBRARY_LOG_DEFAULT_LEVEL_VERBOSE
            bool "Verbose"
    endchoice

    config FREE_LIBRARY_LOG_LEVEL
        int
        default 0 if FREE_LIBRARY_LOG_DEFAULT_LEVEL_NONE
        default 1 if FREE_LIBRARY_LOG_DEFAULT_LEVEL_ERROR
        default 2 if FREE_LIBRARY_LOG_DEFAULT_LEVEL_WARN
        default 3 if FREE_LIBRARY_LOG_DEFAULT_LEVEL_INFO
        default 4 if FREE_LIBRARY_LOG_DEFAULT_LEVEL_DEBUG
        default 5 if FREE_LIBRARY_LOG_DEFAULT_LEVEL_VERBOSE

endmenu