<app-toolbar/>

<main>
    <div id="currentPath">
        <span>{{httpDecode(currentPath)}}/</span>
        <mat-form-field>
            <mat-label>
                <ng-icon name="MatCreateNewFolderOutline" size="10vw"/>
            </mat-label>
            <input matInput (change)="createSubfolder($event)" placeholder="new subfolder"/>
        </mat-form-field>
    </div>

    <div class="centered">
<!-- provide link to parent folder -->
@if(currentPath) {
        <div class="card" (click)="chooseParentFolder()">
            <ng-icon name="MatFolderOutline"/>
            ..
        </div>
}

@if(folderData) {
<!-- provide links to subfolders -->
    @for(entry of (folderData | keyvalue); track entry) {
        @if(entry.value.isFolder) {
        <div class="card" (click)="chooseSubfolder(entry.key)">
            <ng-icon class="icon" name="MatFolderOutline"/>
            {{httpDecode(entry.key)}}
        </div>
        }
    }
<!-- provide links to files -->
    @for(entry of (folderData | keyvalue); track entry) {
        @if(! entry.value.isFolder) {
            <div class="card">
                <a download href="api/catalog/{{currentPath}}/{{entry.key}}"><div>
                    <ng-icon class="icon" name="MatFileDownloadOutline"/>
                    {{entry.value.title || httpDecode(entry.key)}}
                </div></a>
                <div class="info">
                    <span>{{entry.value.timestamp! | timeago:true}}</span>
                    <span>{{entry.value.size! | filesize:{standard:'jedec'} }}</span>
                    <span>
                        <ng-icon (click)="deleteFile(entry.key)" name="MatDeleteOutline" color="red" size="6vw"/>
                    </span>
                </div>
            </div>
        }
    }
}
@else {
<!-- no files or folders -->
            <div class="card">
                <div class="title"> This folder is empty </div>
                <div> Share some files to get it started </div>
    @if(currentPath) {
                <div class="info">
                    <ng-icon (click)="removeFolder(currentPath)" name="matFolderDeleteOutline" size="30px" color="red"/>
                </div>
    }
            </div>
}
    </div>

<!-- provide add file functionality -->
<input #fileSelect type="file" (change)="addFile($event)" hidden/>
<ng-icon class="fab"
    (click)="openChooseUploadDialog(); fileSelect.click()"
    name="MatUploadFile" color="blue" size="60px"/>
</main>

