<app-toolbar/>

<main>
    <div class="centered">
        <mat-form-field>
            <mat-label>{{currentPath}}</mat-label>
            <select matNativeControl>
@if(currentPath !== "/") { <option value="..">..</option> }
@for(subfolder of pathData.subfolders; track subfolder) { <option value="{{subfolder}}">{{subfolder}}</option> }
            </select>
        </mat-form-field>
@if(!(pathData.locked)) {
        <button mat-icon-button (click)="openNewFolderDialog()">
            <ng-icon name="MatCreateNewFolder"/>
        </button>
}
    </div>
</main>

<router-outlet />
