<app-toolbar/>

<main>
    <div id="currentPath">
        <span>{{currentPath}}</span>
    </div>
    <div class="centered">
@if(currentPath !== '') {
        <div class="card" (click)="chooseParentFolder()">
            <ng-icon name="MatFolderOutline" size="60px"/>
            <span>..</span>
        </div>
}
@for(subfolder of folderData.subfolders; track subfolder) {
        <div class="card" (click)="chooseSubfolder(subfolder)">
            <ng-icon name="MatFolderOutline" size="60px"/>
            <span>{{subfolder}}</span>
        </div>
}
@for(file of folderData.files; track file) {
        <div class="card">
            <ng-icon name="MatFileDownloadOutline" size="60px"/>
            <span> {{file.title || file.name}} </span>
            <div>
                {{file.timestamp}} <!-- FIXME convert to age -->
                {{file.size}} bytes <!-- FIXME convert to human readable -->
            </div>
        </div>
}
    </div>
</main>

