# Configure FATFS
    CONFIG_FATFS_VOLUME_COUNT=1
    CONFIG_FATFS_FAT16=y
    # support long filenames
    CONFIG_FATFS_LFN_HEAP=y
    CONFIG_FATFS_MAX_LFN=255
    CONFIG_FATFS_API_ENCODING_UTF_8=y

# Configure WebApi
    # Required for connection redirect
    CONFIG_HTTPD_MAX_REQ_HDR_LEN=1024
    # enable HTTPS
    CONFIG_ESP_HTTPS_SERVER_ENABLE=y

# compiler optimize for performance
    CONFIG_COMPILER_OPTIMIZATION_PERF=y



# ESP32 Boot and OTA
    CONFIG_BOOTLOADER_COMPILER_OPTIMIZATION_PERF=y
    # currently requires 4MB chips
    CONFIG_PARTITION_TABLE_CUSTOM=y
    CONFIG_PARTITION_TABLE_OFFSET=0x9000
    CONFIG_ESPTOOLPY_FLASHSIZE="4MB"
    CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
    CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE=y