<div class="mat-mdc-dialog-container">
    <div class="mat-mdc-dialog-title">About {{title}}</div>
    <div class="mat-mdc-dialog-content">
        <p>
            {{title}} is a free digital library of content shared
            by locals like yourself.
        </p>
        <p>
            Feel free to add content that you think other local
            people would be interested in.
        </p>
        <p>
            If there is content you find objectionable, delete it.
        </p>
        <p>
            By using this site, you agree to the <a target="_blank" href="tos.html">Terms of Service</a>.
        </p>
    </div>
</div>