#toolbar {
    background-color: blue;
    color: white;
    padding: 2%;
    font-size: x-large;
}

#noContentDialog {
    margin: 10%;
    padding-top: 5px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    padding-bottom: 5px !important;
    background-color: #EEEEEE;
    outline: 1px solid darkgray;
    border-radius: 10px;
}

#catalog {
    margin: 5%;
}

.catalogItem {
    padding-top: 5px;
    padding-bottom: 5px;
}

.container {
    display: flex;
}

.spacer {
    flex: 1 1 auto;
}

input[type=file] {
    display: none;
}

.fab {
    position: fixed;
    z-index: var(--layer-1);
  
    --_viewport-margin: 2.5vmin;
    height: 50px;
    outline: 1px solid darkgray;
    border-radius: 50px;
    background-color: whitesmoke;

    inset-block: auto var(--_viewport-margin);
    inset-inline: auto var(--_viewport-margin);
}