<div id="toolbar">
  <span class="material-symbols-outlined">footprint</span>
  {{ title }}
</div>
<input #fileSelect type="file" class="file-input" (change)="upload($event)"/>

<div id="noContentDialog" *ngIf="catalog.length == 0" style="padding:10%;">
  <h3>Nothing here yet</h3>
  Leave some files for the next person...
  <div class="container">
    <span class="spacer"></span>
    <span class="material-symbols-outlined" (click)="fileSelect.click()">attach_file</span>
  </div>
</div>

<div id="catalog" style="margin-bottom: 50px;">
  <div class="container catalogItem" *ngFor="let entry of catalog; index as i">
      <a href="catalog/{{entry.filename}}">{{entry.filename}}</a>
      <span class="spacer"></span>
      <span class="material-symbols-outlined" (click)="delete(i)">delete</span>
  </div>
</div>

<span class="fab material-symbols-outlined" (click)="fileSelect.click()">attach_file</span>

<!-- <div class="progress" *ngIf="uploadProgress > 0">
  <mat-progress-bar class="progress-bar" mode="determinate"
                    [value]="uploadProgress">
  </mat-progress-bar>
  <mat-icon class="cancel-upload" (click)="cancelUpload()">
    delete_forever
  </mat-icon>
</div> -->